# Copyright 2026 Muhammad Waleed
# Licensed under the Apache License, Version 2.0
# Author: Muhammad Waleed

DATABASE_URL=sqlite://taafi_agent.db
ORCHESTRATOR_URL=http://localhost:50051
PQ_SECURITY_LEVEL=Level3
MEMORY_DB_PATH=taafi_memory.db
METRICS_INTERVAL_SECS=10
HEARTBEAT_INTERVAL_SECS=30
RUST_LOG=info
